## Day Objectives
### Practice on Income Dataset
- Define functions for the following data points
        -Average Income of all states from 2005 to 2013
        -State with highest average income in the last three years
        -State with lowest average income from 2007 to 2010(inclusive)
        -Print the list of all states in the same line with average income less than California
        -Print the names of states based on descending order of income in the year 2009
        -State with the lowest recorded income from 2005 to 2013

In [1]:
# Function to read CSV data into a DataFrame and returns the DataFrame object

filepath='DataFiles/income.csv'
import pandas as pd
def readCSVdata(filepath):
    return pd.read_csv(filepath)  # it returns the data inside the object
readCSVdata(filepath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [2]:
incomedf=readCSVdata(filepath)
# Function to print all column names in a single line

def printDataFrameColumns(df):
    columns=df.columns
    for column in columns:
        print(column,end=' ')
    return
#printDataFrameColumns(incomedf)

def avgIncomeOfStates(df):
    for column in range(len(df.columns)):
        if df.columns[column]=="2005":
            print(df.columns[column])
            startyearindex=column
            print(startyearindex)
        elif df.columns[column]=="2013":
            print(df.columns[column])
            endyearindex=column
            print(endyearindex)
    li=[]
    for value in df.values:
        print(value[startyearindex:endyearindex+1])
        avg=sum(value[startyearindex:endyearindex+1])/len(value[startyearindex:endyearindex+1])
        print(avg)
        li.append(avg)
    print(sum(li)/len(li))
avgIncomeOfStates(incomedf)

2005
2
2013
10
[37150 37952 42212 44476 39980 40933 42590 43464 41381]
41126.444444444445
[55891 56418 62993 63989 61604 57848 57431 63648 61137]
60106.555555555555
[45245 46657 62993 46914 45739 46896 48621 47044 50602]
48967.88888888889
[36658 37057 40795 39586 36538 38587 41302 39018 39919]
38828.88888888889
[51755 55319 55734 57014 56134 54283 53367 57020 57528]
55350.444444444445
48876.04444444444

In [3]:
incomedf.values[1,2]

55891

In [4]:
# State with highest average income in the last three years

def highestIncomeOfLast3Years(df):
    for column in range(len(df.columns)):
        if df.columns[column]=="2011":
            print(df.columns[column])
            startyearindex=column
            print(startyearindex)
        elif df.columns[column]=="2013":
            print(df.columns[column])
            endyearindex=column
            print(endyearindex)
    li=[]
    for value in df.values:
        print(value[startyearindex:endyearindex+1])
        avg=sum(value[startyearindex:endyearindex+1])/len(value[startyearindex:endyearindex+1])
        print(avg)
        li.append(avg)
    print(max(li))
highestIncomeOfLast3Years(incomedf)

2011
8
2013
10
[42590 43464 41381]
42478.333333333336
[57431 63648 61137]
60738.666666666664
[48621 47044 50602]
48755.666666666664
[41302 39018 39919]
40079.666666666664
[53367 57020 57528]
55971.666666666664
60738.666666666664

In [5]:
# State with lowest average income from 2007 to 2010(inclusive)

def lowestIncomeOfState(df):
    for column in range(len(df.columns)):
        if df.columns[column]=="2007":
            print(df.columns[column])
            startyearindex=column
            print(startyearindex)
        elif df.columns[column]=="2010":
            print(df.columns[column])
            endyearindex=column
            print(endyearindex)
    li=[]
    for value in df.values:
        print(value[startyearindex:endyearindex+1])
        avg=sum(value[startyearindex:endyearindex+1])/len(value[startyearindex:endyearindex+1])
        print(avg)
        li.append(avg)
    print(min(li))
lowestIncomeOfState(incomedf)

2007
4
2010
7
[42212 44476 39980 40933]
41900.25
[62993 63989 61604 57848]
61608.5
[62993 46914 45739 46896]
50635.5
[40795 39586 36538 38587]
38876.5
[55734 57014 56134 54283]
55791.25
38876.5