### Strings in  Python

In [1]:
name="Python Programming"

In [2]:
print(type(name))

<class 'str'>

In [3]:
print(len(name))

18

In [4]:
print(name[0])

P

#### mutable --> we can change
#### immutable --> we can't change
- Strings are immutable

### String Methods

-  All string methods returns new values. They do not change the original string.

##### str.islower()

In [5]:
name="python"

name.islower()   # Checking the all characters in a string is lowercase or not

True

##### str.isupper()

In [6]:
s="python programming"
s.isupper()   # Checking the all characters in a string is uppercase or not

False

In [7]:
# Create a function to check first and last characters of a given string are capital or not

s=input()
def capital(s):
    if s[0].isupper() and s[-1].isupper():
        return True
    return False
capital(s)

PythoN

True

##### str.lower()

In [8]:
name="PYTHON"
print(name.lower())  # Changing all characters in a string into lowercase
print(name)

python
PYTHON

In [9]:
name="PYTHON"
name=name.lower()
print(name)

python

##### str.upper()

In [10]:
name="python"
name=name.upper()   # Changing all characters in a string into uppercase
print(name)

PYTHON

##### str.isdigit()

In [11]:
num='12345'
print(num.isdigit())

True

In [12]:
num='123ab'
print(num.isdigit())

False

##### str.isalpha()

In [13]:
name='python'
print(name.isalpha())

True

In [14]:
name='python123'
print(name.isalpha())

False

In [15]:
# create a function to which can identify number alphabets or others

def identifyMe(s):
    if s.isalpha():
        return("name")
    elif s.isdigit():
        return("numbers")
    else:
        return("others")
s=input()
identifyMe(s)

Name

'name'

##### str.split()

In [16]:
name='python programming'
words=name.split()
print(words)
print(words[0])
print(words[1])

['python', 'programming']
python
programming

In [17]:
name='python programming'
words=name.split('g')
print(words)

['python pro', 'rammin', '']

##### str.lstrip()
- lstrip removes the leftside spaces in a given string

In [18]:
name='   python programming   '
print('original length',len(name))
result=name.lstrip()
print(result,len(result))

original length 24
python programming    21

##### str.rstrip()
- rstrip removes the rightside spaces in a given string

In [19]:
name='   python programming   '
print('original length',len(name))
result=name.rstrip()
print(result,len(result))

original length 24
   python programming 21

##### str.strip()
- strip removes the rightside and leftside spaces in a given string

In [20]:
name='   python programming   '
print('original length',len(name))
result=name.strip()
print(result,len(result))

original length 24
python programming 18

In [21]:
# Take the values from the user until user gives 0 and find and print the minimum(exclusive of zero)
# and maximum and sum of numbers in given values.
# ex: 'sai'
      # 10
      # 'ram'
      # 'ra$'
      # 20
      #  5
      #  0


num=[]        
while True:
    data=input()
    if data=='0':
        #num.append(0)
        break
    if data.isdigit():
        num.append(int(data))
print(num)
print('minimum',min(num))
print('maximum',max(num))
print('sum',sum(num))

sai
20
5
10
ram
0
[20, 5, 10]
minimum 5
maximum 20
sum 35

##### str.startswith(sub_string)

In [22]:
name="python"
print(name.startswith('p'))

True

In [23]:
name="Python"
print(name.startswith('p'))

False

##### str.endswith(sub_string)

In [24]:
name="pyhton"
print(name.endswith("n"))

True

In [25]:
name="pyhton"
print(name.endswith("on"))

True

In [26]:
name="pyhton"
print(name.endswith("On"))

False

##### str.swapcase()
- It changes the lowercase letters into uppercase and uppercase letters into lowercase, but it doesn't change the original string

In [27]:
name="PyTHoN"
print(name.swapcase())

pYthOn

##### str.title()

In [28]:
name="python programming"
print(name.title())

Python Programming

In [29]:
name="python proGRamming"
print(name.title())

Python Programming

##### str.istitle()

In [30]:
name="Python Programming"
print(name.istitle())

True

In [31]:
name="python proGramming"
print(name.title())

Python Programming

##### str.join(sequence_or_collection_of_items)

- Here collection of items are maybe lists,tuples or dictionaries

In [32]:
myList=['p','y','t','h','o','n']
''.join(myList)

'python'

In [33]:
myList=['p','y','t','h','o','n']
'@'.join(myList)

'p@y@t@h@o@n'

In [34]:
name='p y t h o n'
print(''.join(name.split()))

python

In [35]:
name='p y t h o n'
s=name.split()
print(s)
''.join(s)

['p', 'y', 't', 'h', 'o', 'n']

'python'

In [36]:
students=[
    ('sai',"10,20,30,40"),
    ('ram',"30,40,50,60")
]


for student in students:
    name=student[0]
    marks_string=student[1]      # "10,20,30,40"
    list_string=marks_string.split(',')   # ['10','20','30','40']
    total_marks=0
    for sub_marks in list_string:
        total_marks+=int(sub_marks)
    print(name,total_marks)

sai 100
ram 180

In [37]:
paragraph='xyz abc mnp "asdf dfaa asdf" asd "fdas asdsdaff"'
# output : xyz
#          abc
#          mnp
#          "asdf dfaa asdf"
#          asd
#          "fdas asdsdaff"


sentences=paragraph.split('"')
print(sentences)
for sentence in sentences:
    if len(sentence)>0:
        if sentence.endswith(' '):
            for word in sentence.split():
                print(word)
        else:
            print('"'+sentence+'"')

['xyz abc mnp ', 'asdf dfaa asdf', ' asd ', 'fdas asdsdaff', '']
xyz
abc
mnp
"asdf dfaa asdf"
asd
"fdas asdsdaff"

In [38]:
# Print the names that is not ending with 'i' and 'u'

names=['ayyappa','ramu','syam','lakshmi','rani']

for name in names:
    if not (name.endswith('u') or name.endswith('i')):
        print(name)

ayyappa
syam

#### String Slicing

In [39]:
name='python programming'

In [40]:
result=name[7:18]
print(result)

programming

In [41]:
print(name[10:14])

gram

In [42]:
print(name[0:10:3])

ph o

In [43]:
name='python programming'
for char in name:
    print(char,end=" ")

p y t h o n   p r o g r a m m i n g

### Tuples

- immutable
- tuples are also slicible

In [44]:
myTuple=(1,2,3,4)

print(len(myTuple))

4

In [45]:
print(myTuple[0])

1

##### tuple.count(item)

In [46]:
myTuple.count(4)

1

In [47]:
myTuple.count(40)

0

##### tuple.index(item)

In [48]:
myTuple.index(4)

3

In [49]:
print(min(myTuple))

print(max(myTuple))

print(sum(myTuple))

1
4
10

In [50]:
myTuple[0:3]

(1, 2, 3)

In [51]:
myTuple=(1,2,3,1,2,3)
myTuple.index(2,3)   # here 1st argument is for item $ 2nd argument is for searching starts from that index.

4

In [52]:
myTuple=(1,2,3,'4','5')
for each in myTuple:
    print(each,type(each))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'str'>
5 <class 'str'>

In [53]:
# Sum of digits
rollno="13A85A0504"
s=[]
for i in rollno:
    if i.isdigit():
        s.append(int(i))
print(sum(s))

26

In [54]:
# Reverse a string without ::-1

s=input()
rev=""
for i in s:
    rev=i+rev
print(rev)

python
nohtyp

In [28]:
# Print the names which has duplicate characters
# Ex: "ramu ravi akash"
    # o/p: akash
# Ex: "ramu ravi"
    # o/p: -1
    
names=input()
name=names.split(" ")
#print(name)
count=0
for word in name:
    #for char in word:
    if char in word:
        count+=1
if count>=1:
    print(word)
else:
    print(-1)

ravi rami
rami

In [56]:
s='1+2+3+4'
n=s.split('+')
print(n)
t=0
for i in n:
    t=t+int(n[i])
print(t)

['1', '2', '3', '4']

TypeError: list indices must be integers or slices, not str

In [59]:
def camelCase(d):
    word=d.split(" ")
    print(word)
    s=""
    for cap in word:
        if cap.isupper():
            s=s+cap
    if s==p:
        print(word)
    else:
        print("No match found")
            

t=int(input())
for i in range(t):
    n=int(input())
    d=input()
    p=input()
    camelCase(d)

1
3
wiKi GeekForGeek WikiPedia
GFG
['wiKi', 'GeekForGeek', 'WikiPedia']
No match found

### Dictionaries

In [1]:
student={'name':'sai','branch':'ece'}
print(student)

{'name': 'sai', 'branch': 'ece'}

In [2]:
type(student)

dict

In [3]:
print(type(student))

<class 'dict'>

In [9]:
len(student)

2

In [4]:
student.keys()

dict_keys(['name', 'branch'])

In [5]:
min(student)

'branch'

In [6]:
max(student)

'name'

#### Membership Operators
- in 
- not in

In [7]:
'Branch' in student

False

In [8]:
'place' not in student

True

In [10]:
dir({})   # inbuilt functions in dictionary

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [11]:
student2=student
student

{'name': 'sai', 'branch': 'ece'}

In [13]:
student2['name']='ravi'
student2

{'name': 'ravi', 'branch': 'ece'}

In [14]:
student

{'name': 'ravi', 'branch': 'ece'}

In [15]:
student2=student.copy()
student2

{'name': 'ravi', 'branch': 'ece'}

In [16]:
student['name']='sai'
student

{'name': 'sai', 'branch': 'ece'}

In [17]:
student2

{'name': 'ravi', 'branch': 'ece'}

In [21]:
dict.fromkeys(range(3),'new value')

{0: 'new value', 1: 'new value', 2: 'new value'}

In [29]:
student.get('name')

'sai'

In [34]:
student['branch']

'ece'

In [33]:
print(student.get('place'))

None

In [37]:
print(student.get('place','absent'))

absent

In [55]:
student['branch']='cse'     # changing the value
student

{'name': 'ravi', 'branch': 'cse'}

In [56]:
del student['branch']
student

{'name': 'ravi'}

In [57]:
student['branch']='ece'
student

{'name': 'ravi', 'branch': 'ece'}

##### dict.pop(key)
- removes the item related to the provided key

In [58]:
student.popitem()
student

{'name': 'ravi'}

In [59]:
student.get('name','ramu')
student

{'name': 'ravi'}

In [60]:
student.setdefault('name','ravi')
student

{'name': 'ravi'}

In [61]:
student.values()

dict_values(['ravi'])

In [62]:
student.items()

dict_items([('name', 'ravi')])

In [63]:
student2

{'name': 'ravi', 'branch': 'ece'}

In [65]:
student2['place']='vijayawada'
student2

{'name': 'ravi', 'branch': 'ece', 'place': 'vijayawada'}

In [66]:
student

{'name': 'ravi'}

In [68]:
student.update(student2)
student

{'name': 'ravi', 'branch': 'ece', 'place': 'vijayawada'}

In [69]:
# All keys in dictionary

for key in student:
    print(key)

name
branch
place

In [70]:
# All values in a dictionary

for key in student:
    print(student[key])

ravi
ece
vijayawada

In [71]:
# All keys and values in a dictionary in the given format
# Ex: name --> ravi

for key in student:
    print(key,student[key],sep=' --> ')

name --> ravi
branch --> ece
place --> vijayawada

In [72]:
for key in student.keys():
    print(key,student[key],sep=' --> ')

name --> ravi
branch --> ece
place --> vijayawada

In [73]:
for key,value in student.items():
    print(key,value,sep=' --> ')

name --> ravi
branch --> ece
place --> vijayawada

In [74]:
# Seperating the given values

x=3
y=6
print(x,y,sep=',')

3,6

In [78]:
for i,j in zip(['name','branch','place'],['sai','ece','hyd']):
    print(i,j,sep=' : ')

name : sai
branch : ece
place : hyd

In [80]:
# count the frequency of each charecter in a given string

s='hello world'
d={}
for char in s:
    if char not in d:
        d[char]=1
    else:
        d[char]+=1
print(d)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [81]:
# count the frequency of each charecter in a given string using get method

freq={}
for char in s:
    freq[char]=freq.get(char,0)+1  # dict[key]=old_value_OR_zero+1
print(freq)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [100]:
# find the frequency of each character from a to z in a
# Ex: s='hello world'
# O/P: {'a':0,'b':0,'c':0,'d':1,.......,'x':0,'y':0,'z':0}

s="hello world"
alphabets=list(map(chr,range(97,123)))   # Accessing all alphabets
freq=dict.fromkeys(alphabets,0)       # For all alphabets we give default value 'Zero'

for char in s:
    if char not in freq:
        freq[char]=1
    else:
        freq[char]+=1
print(freq)

{'a': 0, 'b': 0, 'c': 0, 'd': 1, 'e': 1, 'f': 0, 'g': 0, 'h': 1, 'i': 0, 'j': 0, 'k': 0, 'l': 3, 'm': 0, 'n': 0, 'o': 2, 'p': 0, 'q': 0, 'r': 1, 's': 0, 't': 0, 'u': 0, 'v': 0, 'w': 1, 'x': 0, 'y': 0, 'z': 0, ' ': 1}

In [95]:
alphabets=list(map(chr,range(97,123)))
freq=dict.fromkeys(alphabets,0)
for char in s:
    if char in freq:
        freq[char]=freq.get(char,0)+1  
print(freq,end=" ")

{'a': 0, 'b': 0, 'c': 0, 'd': 1, 'e': 1, 'f': 0, 'g': 0, 'h': 1, 'i': 0, 'j': 0, 'k': 0, 'l': 3, 'm': 0, 'n': 0, 'o': 2, 'p': 0, 'q': 0, 'r': 1, 's': 0, 't': 0, 'u': 0, 'v': 0, 'w': 1, 'x': 0, 'y': 0, 'z': 0}

In [ ]:
#s=['sai','ram']
#lucky_person{'sai':2,'ram':5}
# 'sai'= 115+97+105=317(ascii values sum) --> 3+1+7=11 --> 1+1=11
# 'ram'= 114+97+109=320 --> 3+2+0=5
#Here lucky_person is sai bcoz he has minimum value

In [196]:
s=['sai','ram']
avs=0
for i in s:
    for j in i:
        # lucky_person[name]=ts
        avs=avs+ord(j)
    print(avs)
    t=0
    while(avs>0):
        dig=avs%10
        t=t+dig
        avs=avs//10
    print('total',t)
    ts=0
    while(t>0):
        d=t%10
        ts=ts+d
        t=t//10
    print("Totalsum= ",ts)

317
total 11
Totalsum=  2
320
total 5
Totalsum=  5

In [178]:
lucky_person={}
for name in s:
    lucky_person[name]=ts
print(lucky_person)

{'sai': 5, 'ram': 5}

In [210]:
def reduce2Digit(string_number):
    """ Convert string number into single digit string number """
    result=sum(list(map(int,string_number)))
    if result>9:
        return str(reduce2Digit(str(result)))
    return result

#reduce2Digit('317')

'2'

In [201]:
def asciiSum(name):
    """ gives the ascii sum in string """
    return str(sum(list(map(ord,name))))

#asciiSum("sai")

'317'

In [213]:
names=['sai','ram','raju']
luckyNames={}
for name in names:
    total=asciiSum(name)
    luckyNumber=reduce2Digit(total)
    luckyNames[name]=int(luckyNumber)
#luckyNames

leastNumber=min(luckyNames.values())
#leastNumber

for name,luckyNumber in luckyNames.items():
    if luckyNumber==leastNumber:
        print(name,luckyNumber)

sai 2
raju 2

### Files in Python
- To store digital information
- To work with files in python mainly 3steps
        - open()
        - operation
        - close()

##### read()

In [227]:
fh=open('book.txt','r')

data=fh.read()
print(data)

fh.close()

Line 1
Line 2
Line 3
Line 5
Line 4

##### write(string_data)

In [223]:
fh=open('book2.txt','w')

data='who r u'
fh.write(data)

fh.close()

##### append(string_data)

In [226]:
fh=open('book3.txt','a')

data=' hiiii everyone'
fh.write(data)

fh.close()

In [238]:
fh=open('book.txt','r')
count=0
for each in fh:
    count+=1
    print(count,each)
    
fh.close()

1 Line A

2 Line B

3 Line C

4 Line E

5 Line D

In [240]:
fh=open('book.txt','r')
count=0
for each in fh:
    count+=1
    if count==3:
        print(count,each)
fh.close()

3 Line C

In [253]:
# Write the content from book.txt to output.txt using python file concept

fh=open('output.txt','w')
fo=open('book.txt')
for each in fo:
    fh.write(each)

fh.close()
fo.close()

In [254]:
# reading data from book.txt
fh=open('book.txt','r')
data=fh.read()
fh.close()

# writing data to output.txt
fh=open('output.txt','w')
fh.write(data)
fh.close()

In [269]:
# writing some particular data from one txt file to anothe txt file

fh_i=open('book.txt','r')
fh_o=open('output.txt','w')

for line in fh_i:
    word=line.split()[0]+'\n'
    fh_o.write(word)

fh_i.close()
fh_o.close()

In [305]:
fh_i=open('book.txt','r')
fh_o=open('output.txt','w')

count=0
for Line in fh_i:
    count+=1
    if count==1:
        continue
    name=Line.split()[0]
    marks=sum(list(map(int,Line.split()[1:])))
    fh_o.write(name+' '+str(marks)+'\n')
    
fh_i.close()
fh_o.close()

In [4]:
fh_i=open('book.txt','r')
fh_o=open('output.txt','w')

count=0
for line in fh_i:
    count+=1
    if count==1:
        fh_o.write(line.strip()+'  total')
    else:
        marks=sum(list(map(int,line.split()[1:])))
        fh_o.write('\n'+line.strip()+'   '+str(marks))

fh_i.close()
fh_o.close()

##### fh.tell()

In [14]:
fh=open('output.txt')
print('i am at',fh.tell())   # tell() used for where the carser position
data=fh.read()
print('i am at',fh.tell())
data=fh.read()
print(data)
fh.close()

i am at 0
i am at 27

##### fh.seek()

In [13]:
fh=open('output.txt')
print('i am at',fh.tell())
data=fh.read()
print('i am at',fh.tell())  
fh.seek(10)                # seek() is used for we give the carsor position where to read
print('i am at',fh.tell())  
data=fh.read()
print(data)
fh.close()

i am at 0
i am at 27
i am at 10
e 2
Line 3
Line 4

##### fh.readline()
- It gives the Output is in string format

In [12]:
fh=open('output.txt')

data=fh.readline()
print(data)

fh.close()

Line 1

##### fh.readlines()
- It gives the Output is in list format

In [11]:
fh=open('output.txt')

data=fh.readlines()
print(data)

fh.close()

['Line 1\n', 'Line 2\n', 'Line 3\n', 'Line 4']

In [281]:
sum(a)

6

In [307]:
a=[1]
b=a*3
b

[1, 1, 1]

In [313]:
# The built-in function zip takes two lists and returns list of pairs

zip(["a", "b", "c"], [1, 2, 3])
[('a', 1), ('b', 2), ('c', 3)]

[('a', 1), ('b', 2), ('c', 3)]

In [312]:
x = [0, 1, [2]]
x[2][0] = 3
print(x)
x[2].append(4)
print (x)
x[2] = 2
print(x)

[0, 1, [3]]
[0, 1, [3, 4]]
[0, 1, 2]

In [318]:
a=['hs','sh','ash']
min(a)

'ash'

In [321]:
# Cummilative sum of list

def cumSum(li):
    s=0
    for i in li:
        s=s+i 
        print(s,end=" ")
li=[1,2,3,4]
cumSum(li)

1 3 6 10

In [323]:
# Cummilative product of list

def cumSum(li):
    s=1
    for i in li:
        s=s*i 
        print(s,end=" ")
li=[1,2,3,4]
cumSum(li)

1 2 6 24

In [325]:
# Write a function unique to find all the unique elements of a list.

def uniqueElements(li):
    unique=[]
    for i in li:
        if i not in unique:
            unique.append(i)
    print(unique)
li=[1, 2, 1, 3, 2, 5]
uniqueElements(li)

[1, 2, 3, 5]

In [32]:
#  Write a function dups to find all duplicates in the list.

def dups(li):
    unique={}
    for i in li:
        if i not in unique:
            unique[i]=1
        else:
            unique[i]+=1
    print(unique)
    if unique[i]>1:
        print(unique[i])
li=[1, 2, 1, 3, 2, 5]
dups(li)

{1: 2, 2: 2, 3: 1, 5: 1}

In [ ]:
n=int(input())
while(n!='EXIT'):
    if n%2==0:
        print(n)
        n+=1

In [5]:
# Python Continue Statement in For Loop example

number = int(input(" Please Enter any integer Value: "))
for i in range (1, number):
    if(i%2 != 0):
        #print(" Odd Numbers = {0}(Skipped By Continue)".format(i))
        continue
    print(i,end=' ')

 Please Enter any integer Value: 10
2 4 6 8

In [9]:
"""def url(u):
    li=[]
    ur=u.split('.')
    #print(ur)
    li.append(ur)
    print(li)"""
    
t=int(input())
li=[]
for i in range(t):
    u=input()
    ur=u.split('.')
    li.extend(ur)
    #url(u)
    print(li)

3
youtube.com
['youtube', 'com']
google.com
['youtube', 'com', 'google', 'com']
rgukt.in
['youtube', 'com', 'google', 'com', 'rgukt', 'in']

In [11]:
print(char(ord(99)))

NameError: name 'char' is not defined